<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IBalanceRecordDao">
	<resultMap id="BaseResultMap" type="com.etaofinance.entity.BalanceRecord">
		<id column="Id" property="id" jdbcType="BIGINT" />
		<result column="MemberId" property="memberid" jdbcType="BIGINT" />
		<result column="Amount" property="amount" jdbcType="REAL" />
		<result column="AfterAmount" property="afteramount" jdbcType="REAL" />
		<result column="TypeId" property="typeid" jdbcType="SMALLINT" />
		<result column="ProjectId" property="projectid" jdbcType="BIGINT" />
		<result column="RelationNo" property="relationno" jdbcType="VARCHAR" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="OptName" property="optname" jdbcType="VARCHAR" />
		<result column="OptTime" property="opttime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		Id, MemberId, Amount, AfterAmount, TypeId, ProjectId, RelationNo, Remark,
		OptName,
		OptTime
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from balancerecord
		where Id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectDMByPrimaryKey" resultType="com.etaofinance.entity.domain.BalanceRecordDM"
		parameterType="java.lang.Long">
		select
		b.Id, b.MemberId, b.Amount, b.AfterAmount, b.TypeId, b.ProjectId,
		b.RelationNo, b.Remark, b.OptName,
		b.OptTime,CASE WHEN b.TypeId = 1 THEN '投资'
		WHEN b.TypeId = 2 THEN '退款至余额'
		WHEN b.TypeId = 3 THEN '充值'
		WHEN b.TypeId = 4 THEN '提现'
		else '其它'
		END AS typeName ,
		p.ProjectName
		from balancerecord b
		left join project p on b.ProjectId=p.Id
		where b.Id = #{id,jdbcType=BIGINT}
	</select>

	<select id="getListMore" resultType="com.etaofinance.entity.domain.BalanceRecordDM"
		parameterType="java.lang.Long">
		select
		b.Id, b.MemberId, b.Amount, b.AfterAmount, b.TypeId, b.ProjectId,
		b.RelationNo, b.Remark, b.OptName,
		b.OptTime,CASE WHEN b.TypeId = 1 THEN '投资'
		WHEN b.TypeId = 2 THEN '退款至余额'
		WHEN b.TypeId = 3 THEN '充值'
		WHEN b.TypeId = 4 THEN '提现'
		else '其它'
		END AS typeName ,
		p.ProjectName
		from balancerecord b
		left join project p on b.ProjectId=p.Id
		where b.memberid = #{memberId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from balancerecord
		where Id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.etaofinance.entity.BalanceRecord">
		insert into balancerecord (Id, MemberId, Amount,
		AfterAmount, TypeId, ProjectId,
		RelationNo, Remark, OptName,
		OptTime)
		values (#{id,jdbcType=BIGINT}, #{memberid,jdbcType=BIGINT},
		#{amount,jdbcType=REAL},
		#{afteramount,jdbcType=REAL}, #{typeid,jdbcType=SMALLINT}, #{projectid,jdbcType=BIGINT},
		#{relationno,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{optname,jdbcType=VARCHAR},
		#{opttime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.etaofinance.entity.BalanceRecord">
		insert into balancerecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="memberid != null">
				MemberId,
			</if>
			<if test="amount != null">
				Amount,
			</if>
			<if test="afteramount != null">
				AfterAmount,
			</if>
			<if test="typeid != null">
				TypeId,
			</if>
			<if test="projectid != null">
				ProjectId,
			</if>
			<if test="relationno != null">
				RelationNo,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="optname != null">
				OptName,
			</if>
			<if test="opttime != null">
				OptTime,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=REAL},
			</if>
			<if test="afteramount != null">
				#{afteramount,jdbcType=REAL},
			</if>
			<if test="typeid != null">
				#{typeid,jdbcType=SMALLINT},
			</if>
			<if test="projectid != null">
				#{projectid,jdbcType=BIGINT},
			</if>
			<if test="relationno != null">
				#{relationno,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="optname != null">
				#{optname,jdbcType=VARCHAR},
			</if>
			<if test="opttime != null">
				#{opttime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<insert id="insertTran" parameterType="com.etaofinance.entity.BalanceRecord">
		insert into balancerecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="memberid != null">
				MemberId,
			</if>
			<if test="amount != null">
				Amount,
			</if>
			<if test="amount != null">
				AfterAmount,
			</if>
			<if test="typeid != null">
				TypeId,
			</if>
			<if test="projectid != null">
				ProjectId,
			</if>
			<if test="relationno != null">
				RelationNo,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="optname != null">
				OptName,
			</if>
			<if test="opttime != null">
				OptTime,
			</if>
		</trim>

		<trim prefix="select " suffix="" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=REAL},
			</if>
			<if test="amount != null">
				select  #{amount,jdbcType=REAL} +
				 (
				 case when 0 = ( select count(1)  from balancerecord where memberid= #{memberid,jdbcType=BIGINT}) then 0 
				 else (select afteramount from balancerecord where memberid =#{memberid,jdbcType=BIGINT} order by opttime desc limit 1) end ),
			</if>
			<if test="typeid != null">
				#{typeid,jdbcType=SMALLINT},
			</if>
			<if test="projectid != null">
				#{projectid,jdbcType=BIGINT},
			</if>
			<if test="relationno != null">
				#{relationno,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="optname != null">
				#{optname,jdbcType=VARCHAR},
			</if>
			<if test="opttime != null">
				#{opttime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.BalanceRecord">
		update balancerecord
		<set>
			<if test="memberid != null">
				MemberId = #{memberid,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				Amount = #{amount,jdbcType=REAL},
			</if>
			<if test="afteramount != null">
				AfterAmount = #{afteramount,jdbcType=REAL},
			</if>
			<if test="typeid != null">
				TypeId = #{typeid,jdbcType=SMALLINT},
			</if>
			<if test="projectid != null">
				ProjectId = #{projectid,jdbcType=BIGINT},
			</if>
			<if test="relationno != null">
				RelationNo = #{relationno,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="optname != null">
				OptName = #{optname,jdbcType=VARCHAR},
			</if>
			<if test="opttime != null">
				OptTime = #{opttime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where Id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.BalanceRecord">
		update balancerecord
		set MemberId = #{memberid,jdbcType=BIGINT},
		Amount = #{amount,jdbcType=REAL},
		AfterAmount = #{afteramount,jdbcType=REAL},
		TypeId = #{typeid,jdbcType=SMALLINT},
		ProjectId = #{projectid,jdbcType=BIGINT},
		RelationNo = #{relationno,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=VARCHAR},
		OptName = #{optname,jdbcType=VARCHAR},
		OptTime = #{opttime,jdbcType=TIMESTAMP}
		where Id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getPageList" resultType="com.etaofinance.entity.BalanceRecord"
		parameterType="com.etaofinance.entity.req.PagedMemberBalanceRecordReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' b.Id desc ',
		'
		b.Id,b.Amount,b.OptTime,b.TypeId,b.AfterAmount,b.MemberId,b.Remark ',
		' balancerecord b ',
		'
		<include refid="queryMemberIncomeRecordListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>

	<sql id="queryMemberIncomeRecordListWhere">
		1=1
		<if test="id>=0">
			and b.MemberId=${id}
		</if>
		<if test="typeId>0">
			and b.typeId=${typeId}
		</if>
		<if test="createStartTime != null and createStartTime!=''">
			and b.OptTime>=''${createStartTime}''
		</if>
		<if test="createEndTime != null and createEndTime!=''">
			and ''${createEndTime}''>b.OptTime
		</if>
	</sql>

	<sql id="getBuyListWhere">
		TypeId = 1
		<if test="proId>0">
			and ProjectId=${proId}
		</if>
		<if test="createName!= null and createName!=''">
			and OptName like ''%${createName}%''
		</if>
		<if test="startTime != null and startTime!=''">
			and OptTime>=''${startTime}''
		</if>
		<if test="endTime != null and endTime!=''">
			and date_add(''${endTime}'', INTERVAL 1 day)>OptTime
		</if>
	</sql>

	<select id="getBuyList" resultType="com.etaofinance.entity.BalanceRecord"
		parameterType="com.etaofinance.entity.req.PagedBalancerecordReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id desc ',
		' a.* ',
		' balancerecord as a ',
		'
		<include refid="getBuyListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>

	<select id="GetLatestedModelByMbId" resultType="com.etaofinance.entity.BalanceRecord"
		parameterType="java.lang.Long">
		select *
		from balancerecord
		where MemberId = #{memberId,jdbcType=BIGINT}
		order by OptTime desc
		limit 1
	</select>
</mapper>