<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IFeedBackDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.FeedBack" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="MemberId" property="memberid" jdbcType="BIGINT" />
    <result column="CreateName" property="createname" jdbcType="VARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="EMail" property="email" jdbcType="VARCHAR" />
    <result column="Contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="IsDel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Description, MemberId, CreateName, PhoneNo, EMail,Contacts, CreateTime, IsDel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feedback
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feedback
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etaofinance.entity.FeedBack" >
    insert into feedback ( Description, MemberId, 
      CreateName, PhoneNo, EMail, Contacts,
      CreateTime, IsDel)
    values ( #{description,jdbcType=VARCHAR}, #{memberid,jdbcType=BIGINT}, 
      #{createname,jdbcType=VARCHAR}, #{phoneno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.etaofinance.entity.FeedBack" >
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >  
      <if test="description != null" >
        Description,
      </if>
      <if test="memberid != null" >
        MemberId,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="email != null" >
        EMail,
      </if>
         <if test="contacts != null" >
        Contacts,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="isdel != null" >
        IsDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >  
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
        <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.FeedBack" >
    update feedback
    <set >
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        MemberId = #{memberid,jdbcType=BIGINT},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        PhoneNo = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMail = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        Contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        IsDel = #{isdel,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.FeedBack" >
    update feedback
    set Description = #{description,jdbcType=VARCHAR},
      MemberId = #{memberid,jdbcType=BIGINT},
      CreateName = #{createname,jdbcType=VARCHAR},
      PhoneNo = #{phoneno,jdbcType=VARCHAR},
      EMail = #{email,jdbcType=VARCHAR},
      Contacts = #{contacts,jdbcType=VARCHAR},      
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      IsDel = #{isdel,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getFeedBackList" parameterType="com.etaofinance.entity.req.PagedFeedBackReq" resultType="com.etaofinance.entity.FeedBack" statementType="CALLABLE"> 
		{call Sp_CustomPage2015_V1(
		' f.CreateTime desc ',
		' f.Id,f.MemberId,f.Description,f.PhoneNo,f.Email,f.Contacts,f.CreateTime,f.CreateName ',
		' feedback f ',
		'<include refid="queryFeedBackModelListWhere" />',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	<sql id="queryFeedBackModelListWhere">
		IsDel = 0
		<if test="createname != null and createname !=''">
			and f.CreateName =''${createname}''
		</if>
		<if test="description != null and description !=''">
			and f.Description like ''%${description}%''
		</if>
		<if test="beginCreatetime != null and beginCreatetime !=''">
			and f.CreateTime>=''${beginCreatetime}''
		</if>
		<if test="endCreatetime != null and endCreatetime !=''">
			and ''${endCreatetime}''>f.createTime
		</if>
	</sql>
</mapper>