<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IMessageDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.Message" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="MemberId" property="memberid" jdbcType="BIGINT" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="PushWay" property="pushway" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateName" property="createname" jdbcType="VARCHAR" />
  	<result column="IsRead" property="isread" jdbcType="BIT" />
    <result column="IsDel" property="isdel" jdbcType="BIT" />
    <result column="MsgType" property="msgtype" jdbcType="INTEGER" />
    <result column="MsgHead" property="msghead" jdbcType="VARCHAR" />
    <result column="MsgDes" property="msgdes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, MemberId, Phone, PushWay, Content, Status, CreateTime, CreateName,IsRead,IsDel,MsgType,MsgHead,MsgDes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message
    where Id = #{id,jdbcType=INTEGER}
  </select>
     <select id="getList"  resultMap="BaseResultMap" parameterType="java.lang.Long" >
 select 
    <include refid="Base_Column_List" />
    from message
where memberid = #{memberid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etaofinance.entity.Message" >
    insert into message 
    (MemberId, 
    	Phone, 
      PushWay, 
      Content, 
      Status, 
      MsgType,
      MsgHead,
      MsgDes,
    CreateName,IsRead,IsDel)
    values (#{memberid,jdbcType=BIGINT}, 
    #{phone,jdbcType=VARCHAR}, 
      #{pushway,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT},
       #{msgtype,jdbcType=INTEGER}, 
       #{msghead,jdbcType=VARCHAR}, 
       #{msgdes,jdbcType=VARCHAR}, 
     #{createname,jdbcType=VARCHAR},
     #{isread,jdbcType=BIT}, 
     #{isdel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.etaofinance.entity.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="msghead != null" >
        MsgHead,
      </if>
        <if test="msgdes != null" >
        MsgDes,
      </if>
      <if test="memberid != null" >
        MemberId,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="pushway != null" >
        PushWay,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
        <if test="isread != null" >
        IsRead,
      </if>
        <if test="isdel != null" >
        IsDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
           <if test="msghead != null" >
        #{msghead,jdbcType=VARCHAR},
      </if>
         <if test="msgdes != null" >
        #{msgdes,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pushway != null" >
        #{pushway,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
         <if test="isread != null" >
        #{isread,jdbcType=BIT},
      </if>
         <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.Message" >
    update message
    <set >
      <if test="memberid != null" >
        MemberId = #{memberid,jdbcType=BIGINT},
      </if>
       <if test="msgtype != null" >
        MsgType = #{msgtype,jdbcType=INTEGER},
      </if>
       <if test="msghead != null" >
        MsgHead = #{msghead,jdbcType=VARCHAR},
      </if>
       <if test="msgdes != null" >
        MsgDes = #{msgdes,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pushway != null" >
        PushWay = #{pushway,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=VARCHAR},
      </if>
        <if test="isread != null" >
        IsRead = #{isread,jdbcType=BIT},
      </if>
        <if test="isdel != null" >
        IsDel = #{isdel,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.Message" >
    update message
    set MemberId = #{memberid,jdbcType=BIGINT},
      Phone = #{phone,jdbcType=VARCHAR},
      PushWay = #{pushway,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      Status = #{status,jdbcType=SMALLINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateName = #{createname,jdbcType=VARCHAR},
     IsRead = #{isread,jdbcType=BIT},
       IsDel = #{isdel,jdbcType=BIT},
          MsgHead = #{msghead,jdbcType=VARCHAR},
            MsgType = #{msgtype,jdbcType=INTEGER},
               MsgDes = #{msgdes,jdbcType=VARCHAR},
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>