<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IProjectEnrollDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.ProjectEnroll" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="MemberId" property="memberid" jdbcType="BIGINT" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="OwnedIndustry" property="ownedindustry" jdbcType="VARCHAR" />
    <result column="BusinessPlanName" property="businessplanname" jdbcType="VARCHAR" />
    <result column="BusinessPlanUrl" property="businessplanurl" jdbcType="VARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="EMail" property="email" jdbcType="VARCHAR" />
    <result column="Contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="CreateName" property="createname" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="RefuseRemark" property="refuseremark" jdbcType="VARCHAR" />
    <result column="OptTime" property="opttime" jdbcType="TIMESTAMP" />
    <result column="OptName" property="optname" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  Id, MemberId, Title, OwnedIndustry, BusinessPlanName, BusinessPlanUrl, PhoneNo, EMail, 
    Contacts, CreateName, CreateTime, Status, RefuseRemark, OptTime, OptName
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from projectenroll
    where Id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from projectenroll
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.etaofinance.entity.ProjectEnroll" >
   insert into projectenroll (Id, MemberId, Title, 
      OwnedIndustry, BusinessPlanName, BusinessPlanUrl, 
      PhoneNo, EMail, Contacts, 
      CreateName, CreateTime, Status, 
      RefuseRemark, OptTime, OptName
      )
    values (#{id,jdbcType=BIGINT}, #{memberid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{ownedindustry,jdbcType=VARCHAR}, #{businessplanname,jdbcType=VARCHAR}, #{businessplanurl,jdbcType=VARCHAR}, 
      #{phoneno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{createname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{refuseremark,jdbcType=VARCHAR}, #{opttime,jdbcType=TIMESTAMP}, #{optname,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.etaofinance.entity.ProjectEnroll" >
    insert into projectenroll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="memberid != null" >
        MemberId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="ownedindustry != null" >
        OwnedIndustry,
      </if>
      <if test="businessplanname != null" >
        BusinessPlanName,
      </if>
      <if test="businessplanurl != null" >
        BusinessPlanUrl,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="email != null" >
        EMail,
      </if>
      <if test="contacts != null" >
        Contacts,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="refuseremark != null" >
        RefuseRemark,
      </if>
      <if test="opttime != null" >
        OptTime,
      </if>
      <if test="optname != null" >
        OptName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="ownedindustry != null" >
        #{ownedindustry,jdbcType=VARCHAR},
      </if>
      <if test="businessplanname != null" >
        #{businessplanname,jdbcType=VARCHAR},
      </if>
      <if test="businessplanurl != null" >
        #{businessplanurl,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="refuseremark != null" >
        #{refuseremark,jdbcType=VARCHAR},
      </if>
      <if test="opttime != null" >
        #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.ProjectEnroll" >
     update projectenroll
    <set >
      <if test="memberid != null" >
        MemberId = #{memberid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="ownedindustry != null" >
        OwnedIndustry = #{ownedindustry,jdbcType=VARCHAR},
      </if>
      <if test="businessplanname != null" >
        BusinessPlanName = #{businessplanname,jdbcType=VARCHAR},
      </if>
      <if test="businessplanurl != null" >
        BusinessPlanUrl = #{businessplanurl,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        PhoneNo = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMail = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        Contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="refuseremark != null" >
        RefuseRemark = #{refuseremark,jdbcType=VARCHAR},
      </if>
      <if test="opttime != null" >
        OptTime = #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="optname != null" >
        OptName = #{optname,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.ProjectEnroll" >
     update projectenroll
    set MemberId = #{memberid,jdbcType=BIGINT},
      Title = #{title,jdbcType=VARCHAR},
      OwnedIndustry = #{ownedindustry,jdbcType=VARCHAR},
      BusinessPlanName = #{businessplanname,jdbcType=VARCHAR},
      BusinessPlanUrl = #{businessplanurl,jdbcType=VARCHAR},
      PhoneNo = #{phoneno,jdbcType=VARCHAR},
      EMail = #{email,jdbcType=VARCHAR},
      Contacts = #{contacts,jdbcType=VARCHAR},
      CreateName = #{createname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=INTEGER},
      RefuseRemark = #{refuseremark,jdbcType=VARCHAR},
      OptTime = #{opttime,jdbcType=TIMESTAMP},
      OptName = #{optname,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  
    <sql id="getProjectEnrollListWhere">
		1=1
		<if test="title!= null and title!=''">
			and Title like ''%${title}%''
		</if>
		<if test="ownedIndustry !=null and ownedIndustry!=''">
			and OwnedIndustry like ''%${ownedIndustry}%''
		</if>
		<if test="startTime != null and startTime!=''">
			and CreateTime>=''${startTime}''
		</if>
		<if test="endTime != null and endTime!=''">
			and date_add(''${endTime}'', INTERVAL 1 day)>CreateTime
		</if>
	</sql>
	<select id="getProjectEnrollList" resultType="com.etaofinance.entity.ProjectEnroll"
		parameterType="com.etaofinance.entity.req.PagedProjectEnrollReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id desc ',
		' a.* ',
		'projectenroll as a ',
		'
		<include refid="getProjectEnrollListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
</mapper>