<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IProjectDao">
	<resultMap id="BaseResultMap" type="com.etaofinance.entity.Project">
		<id column="Id" property="id" jdbcType="BIGINT" />
		<result column="ProjectName" property="projectname" jdbcType="VARCHAR" />
		<result column="TypeId" property="typeid" jdbcType="SMALLINT" />
		<result column="Description" property="description" jdbcType="VARCHAR" />
		<result column="Amount" property="amount" jdbcType="REAL" />
		<result column="FenShu" property="fenshu" jdbcType="INTEGER" />
		<result column="RedidueFenshu" property="redidueFenshu"
			jdbcType="INTEGER" />
		<result column="LeadMinFenShu" property="leadminfenshu"
			jdbcType="INTEGER" />
		<result column="PreheatMaxFenShu" property="preheatmaxfenshu"
			jdbcType="INTEGER" />
		<result column="RediduePreheatMaxFenShu" property="rediduePreheatMaxFenShu"
			jdbcType="INTEGER" />
		<result column="UnitPrice" property="unitprice" jdbcType="REAL" />
		<result column="ProvinceCode" property="provincecode" jdbcType="INTEGER" />
		<result column="CityCode" property="citycode" jdbcType="INTEGER" />
		<result column="AreaCode" property="areacode" jdbcType="INTEGER" />
		<result column="Address" property="address" jdbcType="VARCHAR" />
		<result column="ProjectImage" property="projectimage" jdbcType="VARCHAR" />
		<result column="AuditStatus" property="auditstatus" jdbcType="SMALLINT" />
		<result column="ProjectStatus" property="projectstatus"
			jdbcType="SMALLINT" />
		<result column="IsShelve" property="isshelve" jdbcType="BIT" />
		<result column="MemberId" property="memberid" jdbcType="BIGINT" />
		<result column="PreheatTime" property="preheattime" jdbcType="TIMESTAMP" />
		<result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
		<result column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
		<result column="Schedule" property="schedule" jdbcType="INTEGER" />
		<result column="InvestmentNumber" property="investmentnumber"
			jdbcType="INTEGER" />
		<result column="FollowNumber" property="follownumber" jdbcType="INTEGER" />
		<result column="AuditName" property="auditname" jdbcType="VARCHAR" />
		<result column="AuditTime" property="audittime" jdbcType="TIMESTAMP" />
		<result column="CreateName" property="createname" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, ProjectName, TypeId, Description, Amount, FenShu,
		LeadMinFenShu,
		PreheatMaxFenShu,
		UnitPrice, ProvinceCode, CityCode,
		AreaCode, Address, ProjectImage, AuditStatus,
		ProjectStatus, IsShelve,
		MemberId, PreheatTime, StartTime, EndTime,
		Schedule, InvestmentNumber,
		FollowNumber, AuditName, AuditTime, CreateName,
		CreateTime,Refusereasion,RedidueFenshu,RediduePreheatMaxFenShu
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from project
		where Id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 获取预热或跟头中的项目 -->
	<select id="getFinceingProject" resultType="com.etaofinance.entity.Project"
		parameterType="java.lang.Long">
		select
		*
		from project
		where Id = #{id,jdbcType=BIGINT}
		AND
		(ProjectStatus=2 OR ProjectStatus=3)
		AND IsShelve=1
		AND AuditStatus=2
		AND NOW()>PreheatTime
		AND EndTime>NOW()
	</select>
	<select id="getListMore" resultType="com.etaofinance.entity.Project"
		parameterType="com.etaofinance.entity.req.ProLaunchReq">
		select
		<include refid="Base_Column_List" />
		from project
		where memberid = #{memberid,jdbcType=BIGINT}
		<if test="projectStatus != null">
			and projectstatus=#{projectStatus,jdbcType=SMALLINT}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		project
		where Id = #{id,jdbcType=BIGINT}
	</delete>
	<!-- 新增项目 茹化肖 王超修改返回主键id -->
	<insert id="insert" parameterType="com.etaofinance.entity.Project">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			select @@IDENTITY as id
		</selectKey>
		insert into project (ProjectName,
		TypeId,
		Description,
		Amount,
		FenShu,
		LeadMinFenShu,
		PreheatMaxFenShu,
		UnitPrice,
		ProvinceCode,
		CityCode,
		AreaCode,
		Address,
		ProjectImage,
		MemberId,
		PreheatTime,
		StartTime,
		EndTime,
		CreateName)
		values (#{projectname,jdbcType=VARCHAR},
		#{typeid,jdbcType=SMALLINT},
		#{description,jdbcType=VARCHAR},
		#{amount,jdbcType=REAL},
		#{fenshu,jdbcType=INTEGER},
		#{leadminfenshu,jdbcType=INTEGER},
		#{preheatmaxfenshu,jdbcType=INTEGER},
		#{unitprice,jdbcType=REAL},
		#{provincecode,jdbcType=INTEGER},
		#{citycode,jdbcType=INTEGER},
		#{areacode,jdbcType=INTEGER},
		#{address,jdbcType=VARCHAR},
		#{projectimage,jdbcType=VARCHAR},
		#{memberid,jdbcType=BIGINT},
		#{preheattime,jdbcType=TIMESTAMP},
		#{starttime,jdbcType=TIMESTAMP},
		#{endtime,jdbcType=TIMESTAMP},
		#{createname,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.etaofinance.entity.Project">
		insert into project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="projectname != null">
				ProjectName,
			</if>
			<if test="typeid != null">
				TypeId,
			</if>
			<if test="description != null">
				Description,
			</if>
			<if test="amount != null">
				Amount,
			</if>
			<if test="fenshu != null">
				FenShu,
			</if>
			<if test="leadminfenshu != null">
				LeadMinFenShu,
			</if>
			<if test="preheatmaxfenshu != null">
				PreheatMaxFenShu,
			</if>
			<if test="unitprice != null">
				UnitPrice,
			</if>
			<if test="provincecode != null">
				ProvinceCode,
			</if>
			<if test="citycode != null">
				CityCode,
			</if>
			<if test="areacode != null">
				AreaCode,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="projectimage != null">
				ProjectImage,
			</if>
			<if test="auditstatus != null">
				AuditStatus,
			</if>
			<if test="projectstatus != null">
				ProjectStatus,
			</if>
			<if test="isshelve != null">
				IsShelve,
			</if>
			<if test="memberid != null">
				MemberId,
			</if>
			<if test="preheattime != null">
				PreheatTime,
			</if>
			<if test="starttime != null">
				StartTime,
			</if>
			<if test="endtime != null">
				EndTime,
			</if>
			<if test="schedule != null">
				Schedule,
			</if>
			<if test="investmentnumber != null">
				InvestmentNumber,
			</if>
			<if test="follownumber != null">
				FollowNumber,
			</if>
			<if test="auditname != null">
				AuditName,
			</if>
			<if test="audittime != null">
				AuditTime,
			</if>
			<if test="createname != null">
				CreateName,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="projectname != null">
				#{projectname,jdbcType=VARCHAR},
			</if>
			<if test="typeid != null">
				#{typeid,jdbcType=SMALLINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=REAL},
			</if>
			<if test="fenshu != null">
				#{fenshu,jdbcType=INTEGER},
			</if>
			<if test="leadminfenshu != null">
				#{leadminfenshu,jdbcType=INTEGER},
			</if>
			<if test="preheatmaxfenshu != null">
				#{preheatmaxfenshu,jdbcType=INTEGER},
			</if>
			<if test="unitprice != null">
				#{unitprice,jdbcType=REAL},
			</if>
			<if test="provincecode != null">
				#{provincecode,jdbcType=INTEGER},
			</if>
			<if test="citycode != null">
				#{citycode,jdbcType=INTEGER},
			</if>
			<if test="areacode != null">
				#{areacode,jdbcType=INTEGER},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="projectimage != null">
				#{projectimage,jdbcType=VARCHAR},
			</if>
			<if test="auditstatus != null">
				#{auditstatus,jdbcType=SMALLINT},
			</if>
			<if test="projectstatus != null">
				#{projectstatus,jdbcType=SMALLINT},
			</if>
			<if test="isshelve != null">
				#{isshelve,jdbcType=BIT},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=BIGINT},
			</if>
			<if test="preheattime != null">
				#{preheattime,jdbcType=TIMESTAMP},
			</if>
			<if test="starttime != null">
				#{starttime,jdbcType=TIMESTAMP},
			</if>
			<if test="endtime != null">
				#{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="schedule != null">
				#{schedule,jdbcType=INTEGER},
			</if>
			<if test="investmentnumber != null">
				#{investmentnumber,jdbcType=INTEGER},
			</if>
			<if test="follownumber != null">
				#{follownumber,jdbcType=INTEGER},
			</if>
			<if test="auditname != null">
				#{auditname,jdbcType=VARCHAR},
			</if>
			<if test="audittime != null">
				#{audittime,jdbcType=TIMESTAMP},
			</if>
			<if test="createname != null">
				#{createname,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.Project">
		update project
		<set>
			<if test="projectname != null and projectname!=''">
				ProjectName = #{projectname,jdbcType=VARCHAR},
			</if>
			<if test="typeid != null and typeid>0">
				TypeId = #{typeid,jdbcType=SMALLINT},
			</if>
			<if test="description != null and description!=''">
				Description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="amount != null and amount>0">
				Amount = #{amount,jdbcType=REAL},
			</if>
			<if test="fenshu != null and fenshu>0">
				FenShu = #{fenshu,jdbcType=INTEGER},
			</if>
			<if test="leadminfenshu != null and leadminfenshu>0">
				LeadMinFenShu = #{leadminfenshu,jdbcType=INTEGER},
			</if>
			<if test="preheatmaxfenshu != null and preheatmaxfenshu>0">
				PreheatMaxFenShu = #{preheatmaxfenshu,jdbcType=INTEGER},
			</if>
			<if test="unitprice != null and unitprice>0">
				UnitPrice = #{unitprice,jdbcType=REAL},
			</if>
			<if test="provincecode != null and provincecode !=-1">
				ProvinceCode = #{provincecode,jdbcType=INTEGER},
			</if>
			<if test="citycode != null and citycode!=-1">
				CityCode = #{citycode,jdbcType=INTEGER},
			</if>
			<if test="areacode != null and areacode!=-1">
				AreaCode = #{areacode,jdbcType=INTEGER},
			</if>
			<if test="address != null and address!=''">
				Address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="projectimage != null and projectimage!=''">
				ProjectImage = #{projectimage,jdbcType=VARCHAR},
			</if>
			<if test="auditstatus != null">
				AuditStatus = #{auditstatus,jdbcType=SMALLINT},
			</if>
			<if test="projectstatus != null">
				ProjectStatus = #{projectstatus,jdbcType=SMALLINT},
			</if>
			<if test="isshelve != null">
				IsShelve = #{isshelve,jdbcType=BIT},
			</if>
			<if test="memberid != null">
				MemberId = #{memberid,jdbcType=BIGINT},
			</if>
			<if test="preheattime != null and preheattime!=''">
				PreheatTime = #{preheattime,jdbcType=TIMESTAMP},
			</if>
			<if test="starttime != null and starttime!=''">
				StartTime = #{starttime,jdbcType=TIMESTAMP},
			</if>
			<if test="endtime != null and endtime!=''">
				EndTime = #{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="schedule != null">
				Schedule = #{schedule,jdbcType=INTEGER},
			</if>
			<if test="investmentnumber != null and investmentnumber>0">
				InvestmentNumber = #{investmentnumber,jdbcType=INTEGER},
			</if>
			<if test="follownumber != null and follownumber>0">
				FollowNumber = #{follownumber,jdbcType=INTEGER},
			</if>
			<if test="auditname != null">
				AuditName = #{auditname,jdbcType=VARCHAR},
			</if>
			<if test="audittime != null">
				AuditTime = #{audittime,jdbcType=TIMESTAMP},
			</if>
			<if test="createname != null and createname!=''">
				CreateName = #{createname,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null and createtime!=''">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="refusereasion != null">
				Refusereasion = #{refusereasion,jdbcType=VARCHAR},
			</if>
			<if test="redidueFenshu != null">
				RedidueFenshu = #{redidueFenshu,jdbcType=INTEGER},
			</if>
			<if test="rediduePreheatMaxFenShu != null">
				RediduePreheatMaxFenShu = #{rediduePreheatMaxFenShu,jdbcType=INTEGER},
			</if>
		</set>
		where Id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.Project">
		update project
		set
		ProjectName = #{projectname,jdbcType=VARCHAR},
		TypeId =
		#{typeid,jdbcType=SMALLINT},
		Description =
		#{description,jdbcType=VARCHAR},
		Amount = #{amount,jdbcType=REAL},
		FenShu = #{fenshu,jdbcType=INTEGER},
		LeadMinFenShu =
		#{leadminfenshu,jdbcType=INTEGER},
		PreheatMaxFenShu =
		#{preheatmaxfenshu,jdbcType=INTEGER},
		UnitPrice =
		#{unitprice,jdbcType=REAL},
		ProvinceCode =
		#{provincecode,jdbcType=INTEGER},
		CityCode =
		#{citycode,jdbcType=INTEGER},
		AreaCode = #{areacode,jdbcType=INTEGER},
		Address = #{address,jdbcType=VARCHAR},
		ProjectImage =
		#{projectimage,jdbcType=VARCHAR},
		AuditStatus =
		#{auditstatus,jdbcType=SMALLINT},
		ProjectStatus =
		#{projectstatus,jdbcType=SMALLINT},
		IsShelve =
		#{isshelve,jdbcType=BIT},
		MemberId = #{memberid,jdbcType=BIGINT},
		PreheatTime = #{preheattime,jdbcType=TIMESTAMP},
		StartTime =
		#{starttime,jdbcType=TIMESTAMP},
		EndTime =
		#{endtime,jdbcType=TIMESTAMP},
		Schedule = #{schedule,jdbcType=INTEGER},
		InvestmentNumber = #{investmentnumber,jdbcType=INTEGER},
		FollowNumber =
		#{follownumber,jdbcType=INTEGER},
		AuditName =
		#{auditname,jdbcType=VARCHAR},
		AuditTime =
		#{audittime,jdbcType=TIMESTAMP},
		CreateName =
		#{createname,jdbcType=VARCHAR},
		CreateTime =
		#{createtime,jdbcType=TIMESTAMP}
		where Id = #{id,jdbcType=BIGINT}
	</update>
	<sql id="queryProjectListWhere">
		auditStatus != 2
		<if test="id>0">
			and id=${id}
		</if>
		<if test="typeId>0">
			and typeId=${typeId}
		</if>
		<if test="auditStatus>0">
			and auditStatus=${auditStatus}
		</if>
		<if test="projectStatus>0">
			and projectStatus=${projectStatus}
		</if>
		<if test="projectName != null and projectName!=''">
			and projectName like ''%${projectName}%''
		</if>
		<if test="startTime != null and startTime!=''">
			and endTime>=''${startTime}''
		</if>
		<if test="endTime != null and endTime!=''">
			and date_add(''${endTime}'', INTERVAL 1 day)>startTime
		</if>
		<if test="startCreateTime != null and startCreateTime!=''">
			and createTime>=''${startCreateTime}''
		</if>
		<if test="endCreateTime != null and endCreateTime!=''">
			and date_add(''${endCreateTime}'', INTERVAL 1
			day)>createTime
		</if>
	</sql>
	<select id="queryProjectList" resultType="com.etaofinance.entity.Project"
		parameterType="com.etaofinance.entity.req.PagedProjectReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id desc ',
		' a.* ',
		' project as a ',
		'
		<include refid="queryProjectListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	<!-- Wap获取项目列表 start -->
	<sql id="getProjectListWhere">
		1=1
		<if test="projectStatus>0">
			and projectStatus=${projectStatus}
		</if>
		AND p.IsShelve = 1
		AND p.ProjectStatus != 1
		AND p.ProjectStatus != 5
		AND p.ProjectStatus != 4
		  AND p.IsNovice!=1
		AND p.AuditStatus = 2
		AND NOW() >= p.PreheatTime
		AND p.EndTime >= NOW()
	</sql>
	<select id="getProjectList" resultType="com.etaofinance.entity.domain.ProjectModel"
		parameterType="com.etaofinance.entity.req.PagedProjectReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' p.ProjectStatus ASC ,p.EndTime ASC ',
		'
		p.Id,
		p.ProjectName,
		p.TypeId,
		p.Amount,
		p.FenShu,
		p.UnitPrice,
		p.ProjectImage,
		p.Schedule,
		p.ProjectStatus,
		p.StartTime,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = ''SteadyA''), ''0'') AS AValue,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = ''SteadyB''), ''0'') AS BValue',
		'
		project p ',
		'
		<include refid="getProjectListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	<!-- Wap获取项目列表 end -->
	<!-- 项目审核 wangchao 待增加操作日志 -->
	<update id="audit" parameterType="com.etaofinance.entity.req.ProjectAuditReq">
		update project
		set
		AuditStatus = #{auditStatus,jdbcType=SMALLINT},
		<if test="auditStatus==2">
			PreheatTime = #{onlinePreheatDate,jdbcType=TIMESTAMP},
			StartTime = #{openFinancingDate,jdbcType=TIMESTAMP},
			EndTime = #{endFinancingDate,jdbcType=TIMESTAMP},
		</if>
		<if test="auditStatus==3">
			RefuseReasion=#{remark,jdbcType=VARCHAR},
		</if>
		AuditName = #{auditName,jdbcType=VARCHAR},
		AuditTime = now()
		where Id = #{projectId,jdbcType=BIGINT}
	</update>
	<select id="getNoviceProject" resultType="com.etaofinance.entity.domain.ProjectModel">
	
  SELECT p.Id,
		p.ProjectName,
		p.TypeId,
		p.Amount,
		p.FenShu,
		p.UnitPrice,
		p.ProjectImage,
		p.Schedule,
		p.ProjectStatus,
		p.StartTime,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = 'SteadyA'), '0') AS AValue,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = 'SteadyB'), '0') AS BValue
    FROM    project p  WHERE 
    p.IsShelve = 1
		AND p.ProjectStatus != 1
		AND p.ProjectStatus != 5
		AND p.ProjectStatus != 4
		AND p.IsNovice=1
		AND p.AuditStatus = 2
		AND NOW() >= p.PreheatTime
		AND p.EndTime >= NOW()
	</select>
	<!-- 获取项目详情 -->
	<select id="getProjectDetail" resultType="com.etaofinance.entity.domain.ProjectModel" parameterType="java.lang.Long">
	   SELECT p.Id,
		p.ProjectName,
		p.TypeId,
		p.Amount,
		p.FenShu,
		p.UnitPrice,
		p.ProjectImage,
		p.Schedule,
		p.ProjectStatus,
		p.StartTime,
    p.Address,
    p.Description,
    p.FollowNumber,
    p.FenShu,
    p.RedidueFenshu,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = 'SteadyA'), '0') AS AValue,
		IFNULL((SELECT
		p2.Value
		FROM projectstrategy p2
		WHERE p2.ProjectId = p.Id AND p2.isdel=0 AND p2.Key = 'SteadyB'), '0') AS BValue
   ,p1.Name AS CityName
    ,p2.Name AS ProvinceName
    FROM    project p 
    LEFT JOIN publicprovincecity p1 ON p1.Code=p.CityCode
    LEFT JOIN publicprovincecity p2 ON p2.Code=p.ProvinceCode
    WHERE 
    p.Id=#{projectid,jdbcType=BIGINT}
	</select>
	<!-- 修改项目融资状态  wangchao -->
	<update id="modifyProjectStatus" parameterType="com.etaofinance.entity.req.ProjectStatusReq">
		UPDATE project set ProjectStatus=#{aftProjectStatus,jdbcType=INTEGER}
	      WHERE Id=#{projectId,jdbcType=BIGINT}
	</update>	
	<!-- 修改项目上下架状态  wangchao -->
	<update id="isShelf" parameterType="com.etaofinance.entity.req.ProjectStatusReq">
		UPDATE project set isShelve=#{isShelve,jdbcType=BIT}
	      WHERE Id=#{projectId,jdbcType=BIGINT}
	</update>
	
	<select id="getDataStatices" resultType="com.etaofinance.entity.domain.DataStatistics">
	    SELECT 
	    SUM(CASE ProjectStatus when 2 then 1 else 0 END) yr,
		SUM(CASE ProjectStatus when 3 then 1 else 0 END) rzz,
		SUM(CASE ProjectStatus when 4 then 1 else 0 END) rzsuccess,
		SUM(CASE ProjectStatus when 4 then Amount else 0 END) rzsucamount,
		SUM(CASE ProjectStatus when 5 then 1 else 0 END) rzfail,
		(SELECT COUNT(Id) FROM member) usercount,
		(SELECT SUM(case Level WHEN 2 then 1 ELSE 0 end ) FROM member) investor,
		(SELECT SUM(case TypeId WHEN 3 then Amount ELSE 0 END) from balancerecord) recharge,
		(SELECT SUM(case TypeId WHEN 4 then Amount ELSE 0 END) from balancerecord) cash
		FROM project
	</select>
</mapper>