<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IProjectStrategyDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.ProjectStrategy" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ProjectId" property="projectid" jdbcType="BIGINT" />
    <result column="Key" property="key" jdbcType="VARCHAR" />
    <result column="Value" property="value" jdbcType="REAL" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ProjectId, `Key`, `Value`, Description
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from projectstrategy
    where Id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByProjectId" parameterType="java.lang.Long" >
    delete from projectstrategy
    where ProjectId = #{projectid,jdbcType=BIGINT}
  </delete>
  <insert id="insertList" parameterType="java.util.List" >
  <foreach collection="list" index="index" item="item">
    insert into projectstrategy (ProjectId, `Key`, `Value`, Description)
    values (#{item.projectid,jdbcType=BIGINT}, #{item.key,jdbcType=VARCHAR}, 
      #{item.value,jdbcType=REAL}, #{item.description,jdbcType=VARCHAR});
	</foreach>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.ProjectStrategy" >
    update projectstrategy
    set ProjectId = #{projectid,jdbcType=BIGINT},
      `Key` = #{key,jdbcType=VARCHAR},
      `Value` = #{value,jdbcType=REAL},
      Description = #{description,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getByProjectIds"  resultType="com.etaofinance.entity.ProjectStrategy" 
    parameterType="java.util.List" >
	select 
    <include refid="Base_Column_List" />
    from projectstrategy where ProjectId in 
	     <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
	           ${item}
	     </foreach> ;
  </select>
</mapper>