<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IProjectLogDao">
	<insert id="insert" parameterType="com.etaofinance.entity.ProjectLogModel">
		INSERT INTO projectlog(ProjectId, Operater,Remark) 
		VALUES(#{projectId,jdbcType=BIGINT},#{operater,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR});
	</insert>
</mapper>