<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IProjectStrategyDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.ProjectStrategy" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ProjectId" property="projectid" jdbcType="BIGINT" />
    <result column="Key" property="key" jdbcType="VARCHAR" />
    <result column="Value" property="value" jdbcType="REAL" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ProjectId, Key, Value, Description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from projectstrategy
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from projectstrategy
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.etaofinance.entity.ProjectStrategy" >
    insert into projectstrategy (Id, ProjectId, Key, 
      Value, Description)
    values (#{id,jdbcType=BIGINT}, #{projectid,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, 
      #{value,jdbcType=REAL}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.etaofinance.entity.ProjectStrategy" >
    insert into projectstrategy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="projectid != null" >
        ProjectId,
      </if>
      <if test="key != null" >
        Key,
      </if>
      <if test="value != null" >
        Value,
      </if>
      <if test="description != null" >
        Description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=REAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.ProjectStrategy" >
    update projectstrategy
    <set >
      <if test="projectid != null" >
        ProjectId = #{projectid,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        Key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        Value = #{value,jdbcType=REAL},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.ProjectStrategy" >
    update projectstrategy
    set ProjectId = #{projectid,jdbcType=BIGINT},
      Key = #{key,jdbcType=VARCHAR},
      Value = #{value,jdbcType=REAL},
      Description = #{description,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>