<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etaofinance.api.dao.inter.IWithdrawformDao" >
  <resultMap id="BaseResultMap" type="com.etaofinance.entity.Withdrawform" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="MemberId" property="memberid" jdbcType="BIGINT" />
    <result column="WithwardNo" property="withwardno" jdbcType="VARCHAR" />
    <result column="Amount" property="amount" jdbcType="REAL" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreateName" property="createname" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="SuccessTime" property="successtime" jdbcType="TIMESTAMP" />
    <result column="OptName" property="optname" jdbcType="VARCHAR" />
     <result column="BankName" property="bankname" jdbcType="VARCHAR" />
    <result column="OptTime" property="opttime" jdbcType="TIMESTAMP" />
    <result column="AccountType" property="accounttype" jdbcType="VARCHAR" />
    <result column="AccountNo" property="accountno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, MemberId, WithwardNo, Amount,  Status, Remark, CreateName, CreateTime, SuccessTime,
    OptName, OptTime, AccountType, AccountNo,BankName 
  </sql>
  <select id="GetWithdrawPendingAmountByMbId" resultType="java.lang.Double" parameterType="java.lang.Long" >
    select IFNULL(sum(Amount),0)
    from withdrawform
    where  Status=1 and memberId = #{memberId,jdbcType=BIGINT}
  </select>
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from withdrawform
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectDMByPrimaryKey" resultType="com.etaofinance.entity.domain.WithdrawformDM"  parameterType="java.lang.Long" >
 select 
     w.Id, w.MemberId, w.WithwardNo, w.Amount, w.Status, w.Remark, w.CreateName, w.CreateTime, w.SuccessTime,  
    w.OptName, w.OptTime, w.AccountType, w.AccountNo,w.BankName,
    
CASE WHEN w.Status = 1 THEN '待审核'	
WHEN w.Status = 2 THEN '审核通过'	
WHEN w.Status = 3 THEN '打款完成'
WHEN w.Status = -1 THEN '审核拒绝'	
WHEN w.Status =-2 THEN '打款失败'		
else '其它'
		END AS statusName 
    from withdrawform w
    where w.Id = #{id,jdbcType=BIGINT}   

  </select>
   <select id="getListMore" resultType="com.etaofinance.entity.domain.WithdrawformDM"  parameterType="java.lang.Long" >
 select 
     w.Id, w.MemberId, w.WithwardNo, w.Amount,  w.Status, w.Remark, w.CreateName, w.CreateTime , w.SuccessTime,  
    w.OptName, w.OptTime, w.AccountType, w.AccountNo,w.BankName,
    
CASE WHEN w.AccountType = 1 THEN '网银'	
WHEN w.AccountType = 2 THEN '支付宝'	
WHEN w.AccountType = 3 THEN '微信'	
else '其它'
		END AS statusName 
    from withdrawform w    
where w.memberid = #{memberid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from withdrawform
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.etaofinance.entity.Withdrawform" >
    insert into withdrawform ( MemberId, WithwardNo, 
      Amount,  Status, 
      Remark, CreateName, CreateTime, SuccessTime,
      OptName, OptTime, AccountType, BankName,
      AccountNo)
    values ( #{memberid,jdbcType=BIGINT}, #{withwardno,jdbcType=VARCHAR}, 
      #{amount,jdbcType=REAL},  #{status,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{createname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{successtime,jdbcType=TIMESTAMP}, 
      #{optname,jdbcType=VARCHAR}, #{opttime,jdbcType=TIMESTAMP}, #{accounttype,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, 
      #{accountno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.etaofinance.entity.Withdrawform" >
  		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			select @@IDENTITY as id
		</selectKey>
    insert into withdrawform
    <trim prefix="(" suffix=")" suffixOverrides="," > 
      <if test="memberid != null" >
        MemberId,
      </if>
      <if test="withwardno != null" >
        WithwardNo,
      </if>
      <if test="amount != null" >
        Amount,
      </if>      
      <if test="status != null" >
        Status,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
        <if test="successtime != null" >
        SuccessTime,
      </if>
      <if test="optname != null" >
        OptName,
      </if>
         <if test="bankname != null" >
        BankName,
      </if>
      <if test="opttime != null" >
        OptTime,
      </if>
      <if test="accounttype != null" >
        AccountType,
      </if>
      <if test="accountno != null" >
        AccountNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="withwardno != null" >
        #{withwardno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=REAL},
      </if>     
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
        <if test="successtime != null" >
        #{successtime,jdbcType=TIMESTAMP},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=VARCHAR},
      </if>
       <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="opttime != null" >
        #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        #{accountno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etaofinance.entity.Withdrawform" >
    update withdrawform
    <set >
      <if test="memberid != null" >
        MemberId = #{memberid,jdbcType=BIGINT},
      </if>
      <if test="withwardno != null" >
        WithwardNo = #{withwardno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=REAL},
      </if>     
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
         <if test="successtime != null" >
        SuccessTime = #{successtime,jdbcType=TIMESTAMP},
      </if>
      <if test="optname != null" >
        OptName = #{optname,jdbcType=VARCHAR},
      </if>
        <if test="bankname != null" >
        BankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="opttime != null" >
        OptTime = #{opttime,jdbcType=TIMESTAMP},
      </if>
      <if test="accounttype != null" >
        AccountType = #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        AccountNo = #{accountno,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etaofinance.entity.Withdrawform" >
    update withdrawform
    set MemberId = #{memberid,jdbcType=BIGINT},
      WithwardNo = #{withwardno,jdbcType=VARCHAR},
      Amount = #{amount,jdbcType=REAL},     
      Status = #{status,jdbcType=SMALLINT},
      Remark = #{remark,jdbcType=VARCHAR},
      CreateName = #{createname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      SuccessTime = #{successtime,jdbcType=TIMESTAMP},
      OptName = #{optname,jdbcType=VARCHAR},
      OptTime = #{opttime,jdbcType=TIMESTAMP},
      AccountType = #{accounttype,jdbcType=VARCHAR},
      AccountNo = #{accountno,jdbcType=VARCHAR},
      BankName = #{bankname,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  
  <sql id="getWithdrawListWhere">
		1=1
		<if test="status>-3">
			and Status=${status}
		</if>
		<if test="createName!= null and createName!=''">
			and CreateName like ''%${createName}%''
		</if>
		<if test="startTime != null and startTime!=''">
			and CreateTime>=''${startTime}''
		</if>
		<if test="endTime != null and endTime!=''">
			and date_add(''${endTime}'', INTERVAL 1 day)>CreateTime
		</if>
	</sql>
	<select id="getWithdrawList" resultType="com.etaofinance.entity.Withdrawform"
		parameterType="com.etaofinance.entity.req.PagedWithdrawReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id desc ',
		' a.* ',
		' withdrawform as a ',
		'
		<include refid="getWithdrawListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER},
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
</mapper>